$color-primario: #00aaff;
$color-fondo: #f5f5dc;
$color-texto: #00aaff;
$color-header-footer: #333;
$fuente-principal: Arial, sans-serif;

// Mixin para sombra de imágenes
@mixin imagen-sombra {
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

body {
  font-family: $fuente-principal;
  margin: 0;
  padding: 0;
  background-color: $color-fondo;
  color: $color-texto;

  header {
    background-color: $color-header-footer;
    color: white;
    padding: 20px;
    text-align: center;
  }

  nav {
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
      gap: 20px;
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 18px;
    }
  }

  main {
    text-align: center;
    padding: 20px;
  }

  h1, h2 {
    color: $color-primario;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
    color: $color-texto;
  }

  img {
    max-width: 100%;
    height: auto;
    @include imagen-sombra;
  }

  footer {
    background-color: $color-header-footer;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
}
